Flask
Werkzeug
Pillow
opencv-python
numpy
pandas
python-dotenv
groq
easyocr
PyMuPDF
python-docx
requests
python-magic
xlsxwriter
gunicorn
torch==2.0.1
torchvision==0.15.2
easyocr==1.6.2

